@font-face {
  font-family: "MyEurope";
  src: url("~assets/fonts/europe-bold.ttf") format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: "MyEurope";
  src: url("~assets/fonts/europe-normal.ttf") format("truetype");
  font-weight: 300;
}
