@import "~@/assets/styles/_variables.scss";
@mixin layout() {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 30px;
  height: 100%;
  @media (min-width: 480px) and (max-width: 992px ) {
    padding: 0 25px;
  }
  @media (max-width: 479px) {
    padding: 0 15px;
  }
}

@mixin title() {
  font-size: 24px;
  line-height: 32px;
  color: $dark;
  font-weight: 700;
  text-transform: uppercase;
  @media (max-width: 480px) {
    font-size: 18px;
    line-height: 32px;
  }
}