@import "variables";

// Рабочий контейнер
@mixin layout() {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 24px;
  height: 100%;
  display: grid;
  grid-gap: 24px;
  grid-template-columns: repeat(12, 1fr);
  @media (max-width: 920px) {
    padding: 0 16px;
    grid-template-columns: repeat(8, 1fr);
  }
  @media (max-width: 479px) {
    grid-template-columns: repeat(4, 1fr);
  }
}

// H1 Title
@mixin titleH1() {
  font-family: MyEurope, serif;
  font-size: 42px;
  line-height: 64px;
  color: $black;
  font-weight: 700;
  text-transform: uppercase;
  @media (max-width: 920px) {
    font-size: 32px;
    line-height: 48px;
  }

}

// H2 Title
@mixin titleH2() {
  font-family: MyEurope, serif;
  font-size: 24px;
  line-height: 36px;
  color: $black;
  font-weight: 700;
  text-transform: uppercase;
  @media (max-width: 480px) {
    font-size: 18px;
    line-height: 32px;
  }
}

@mixin paragraph18() {
  font-family: MyEurope, serif;
  font-size: 18px;
  line-height: 28px;
  color: $black;
  font-weight: 300;
  @media (max-width: 920px) {
    font-size: 16px;
    line-height: 24px;
  }
}

@mixin imageShadow() {
  border-right: 2px;
  filter: drop-shadow(0px 2px 5px rgba(0, 0, 0, 0.2));
}
